// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  text-align: center;
  padding-top: 1%;
}
article {height: 100%;}
button:focus {
  outline: none;
}
.answerText {
  font-size: calc((10vw + 10vh) / 2);
  color: darkblue;
}
#chooseButtons {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#chooseButtons > div {
  flex: 2;
  margin: 5px 0px; 
  min-height: 50px;
}
#chooseButtons > div:last-child {
  flex: 1;
}
#chooseButtons .optionBtn {
  min-height: 50px;
}
#chooseButtons #home {
  min-height: 50px;
}
.category {
  width:24%;
  min-width: 250px;
  max-width: 100%;
  margin-left: 1%;
  height: 200px;
  line-height: 200px;
  margin-bottom: 1%;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  border-width: 1px;
  border-style: solid;
  display:inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.category div {
  height: 210px;
  display:inline-block;
  vertical-align: middle;
}
.category img {
  vertical-align: middle;
  max-width:100%;
  max-height:190px;
  padding: 10px 0px 10px 0px;
}
.category figcaption {
  line-height: 0px;
}
.imgAnswer {
  width: auto;
  max-width: 100%;
  height:100%;
}
.importButton {
  font-size:24px;
}
#learnWords2-area {
  height: 100%;
  width: 100%;
  text-align: center;
}
#question {
  height: 10%;
}
#listen {
  height: 100%;
}
#optionsForAnswers {
  height: 90%;
  width: 100%;
  text-align: center;
  overflow:hidden;
}
#back, #forward {
  width:45%;
}
.left {
	float:left;
  width: 47%;
  height: 100%;
	/* max-width:300px; */
	text-align: center;
  margin-right: 1%;
  margin-left: 2%;
}
.right {
	 /* float: left; */
	 overflow:hidden;
   width: 48%;
   height: 100%;
   margin-right: 2%;
   margin-left: 1%;
	 /* max-width: 300px; */
	 text-align: center;
}
.backforwardBtn {
  width: 100%;
  height: 100%;
  font-size: 150%;
  background-color: #FFFFFF;
}
.optionBtn {
  width: 100%;
  height: 100%;
  font-size: 150%;
  background-color: #FFFFFF;
}
/* displays a cross for the wrong answer
<button type="button" class="optionBtn wrong">
*/
.optionBtn.wrong {
  border-color: red;
  border-width: 5px;
  box-shadow: none;
  border-style: dotted;
}
/* displays a tick for the correct answer
<button type="button" class="optionBtn correct">
*/
.optionBtn.correct {
  border-color: green;
  border-width: 5px;
  box-shadow: none;
  border-style: solid;
}

.optionCell { margin-bottom: 1%; }
.optionRow {
  height: 45%;
  display: inline-block;
  text-align: left;
  width: 100%;
}
.optionRow.Learn {
  height: 35%;
}
@media screen and (orientation:portrait) {
   .left {
   float: left;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .right {
    float:left;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .optionRow {
    width: 100%;
    height: 45%;
    margin-bottom: 5px;
  }
  .optionRow.Learn {
    height: 45%;
  }

  .optionCell {
    height: 50%;
  }
  .optionBtn {
    height: 100%;
  }
  #back, #forward {
    margin-top: 2%;
  }
}

